#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ Popular languages in Data Science
+ Popular tools in Data Science
+ Using code cell in Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. ggplot
3. scikit

Data Science Tools |
------------------ |
Tensorflow|
Spark|
Rstudio|

###Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
min = 200
hours = 200/60
print(hours)

3.3333333333333335

##Author
Duy Kha Tran